body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    text-decoration: none;
    color: #757575;
}

.btn-danger{
    background-color: #dd0000;
    border-color: #dd0000;
    color: #ffffff;
    border-radius: 3px;
}

.btn-danger:hover{
    background-color: #dd0000;
    border-color: #dd0000;
    color: #ffffff;
    border-radius: 3px;
}

.jumbotron {
    background-image: url("../img/background_image.15aa0ae42b94.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.landing-title{
    font-size: 40px;
    font-weight: bolder;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-p{
    font-size: 20px;
}

.form-control{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0;
}

.section-2{
    padding: 100px;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    color: #ffffff;
    text-align: left;
    background-color: #303030;
    border: 0;
    border-radius: 0;
    font-size: 1.625rem;
    font-weight: 400;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.accordion-item {
    background-color: #303030;
    border: 1px solid #000000;
    margin-bottom: 10px;
    border-radius: 0;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #303030;
    box-shadow: inset 0 -1px 0 rgb(0 0 0);
    border-color: #303030;
}

.accordion-body {
    padding: 1rem 1.25rem;
    color: #ffffff;
    background-color: #2e353d;
    font-size: 1.625rem;
    font-weight: 400;
}

.btn-link {
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.btn-link:hover {
    font-weight: 400;
    color: #757575;
    text-decoration: none;
}

.login-form {
	width: 450px;
	margin: auto;
    padding-top: 50px;
}

.login-form form {
	color: #737373 ;
	border-radius: .25rem;
	margin-bottom: 10px;
	background: #000000;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
    opacity: 0.9;
}

.login-form .btn {
	font-size: 16px;
	font-weight: bold;
	background: #dd0000 ;
	border: none;
	min-height: 50px;
    color: #fff;
}

.login-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}

.sign-form {
	width: 450px;
	margin: auto;
    padding-top: 50px;
}

.sign-form form {
	color: #737373 ;
	border-radius: .25rem;
	margin-bottom: 10px;
	background: #000000;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
    opacity: 0.9;
}

.sign-form .btn {
	font-size: 16px;
	font-weight: bold;
	background: #dd0000 ;
	border: none;
	min-height: 50px;
    color: #fff;
}

.sign-form a {
	color: #ffffff;
	text-decoration: none;
}

.sign-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}

.form-control, .form-control:focus {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #303030;
    background-clip: padding-box;
    border: 1px solid #303030;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.movie-show-section{
    padding-left: 20px;
    padding-top: 50px;
}

.page-footer{
    border-top: 8px solid #222;
}

.movie-details-header{
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-close {
    float: right;
    background-color: #ffffff;
    opacity: 0.2;
}

.btn-close:hover {
    float: right;
    background-color: #ffffff;
    opacity: 0.2;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.4;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}

.responsive-iframe {
  max-width: 100%;
}

.comment-field {
    width: 60vh;
}

@media (max-width: 440px) {
    .hero-text {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-height: 516px) {
    .hero-text {
        text-align: center;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}